<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkoła Podstawowa nr. 1 w Morzeszczynie</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include("../navbar.ejs"); %>


    <header class="container text-center d-flex flex-column align-items-center mt-5 mb-5">
        <h3 class="display-3 mt-5">Prace</h3>
    </header>


    <br>
    
    <main class="d-flex w-100 flex-column align-items-center justify-content-center">
        <table class="table w-50">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Przedmiot</th>
                <th scope="col">Typ</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Nauczyciel</th>
              </tr>
            </thead>
            <tbody>

                <% for(var i=0; i <= totalPrace - 1; i++) {%>
                    <tr>
                        <td ><%= prace[i].data%></td>
                        <td><%= prace[i].przedmiot%></td>
                        <td><%= prace[i].rodzaj%></td>
                        <td><%= prace[i].nazwa%></td>
                        <td><%= prace[i].nauczyciel%></td>
                    </tr>
                <% } %>
            </tbody>
          </table>


    </main>

 
    <%- include("../footer.ejs"); %>

</body>
</html>
