<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkoła Podstawowa nr. 1 w Morzeszczynie</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include("../navbar.ejs"); %>


    <header class="container text-center d-flex flex-column align-items-center mt-5 mb-5">
        <h3 class="display-3 mt-5">Wiadomości</h3>
    </header>

    <main class="d-flex w-100 flex-column align-items-center justify-content-center">

        <table class="table w-50">
            <thead>
              <tr>
                <th scope="col">Temat</th>
                <th scope="col">Treść</th>
                <th scope="col">Nawadca</th>
                <th scope="col">Data wysłania</th>
              </tr>
            </thead>
            <tbody>

                <% for(var i=0; i <= totalWiadomosci - 1; i++) {%>
                    <tr>
                        <td><%= wiadomosci[i].temat%></td>
                        <td class="w-25" style="max-width: 20vw; word-wrap: break-word;"><%= wiadomosci[i].tresc%> </td>
                        <td  ><%= wiadomosci[i].nadawca%></td>
                        <td><%= wiadomosci[i].data_wyslania%></td>
                    </tr>
                <% } %>
            </tbody>
          </table>

        <hr>


        <form class="d-flex flex-column align-items-center" action="#" method="post">
            <h4>Wyślij wiadomość</h4>
            <label for="odbiorca">Do: </label>
            <select class="w-100" name="odbiorca" class="form-select w-25" aria-label="Default select example" required>
                <% for(var i = 0; i <= totalUzytkownicy - 1;i++) {%>
                    <option value="<%= uzytkownicy[i].id%>"><%= uzytkownicy[i].uzytkownik %></option>
                <% } %>
            </select>

            <input type="text" name="temat" placeholder="Temat" required>
            <textarea name="tresc" class="form-control" id="textAreaExample1" rows="4" placeholder="Treść wiadomości"></textarea>
            <br>
            <input type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4"></input>

        </form>
    </main>

 
    <%- include("../footer.ejs"); %>

</body>
</html>
